# This is Git's per-user configuration file.
[user]
    name = Anshuman Sanghvi
	email = anshuman.sanghvi@gmail.com
[diff]
    tool = vimdiff
	external = difft
[merge]
    tool = vimdiff
[difftool]
    prompt = 0
[color]
    branch = always
    diff = always
    grep = always
    interactive = always
    pager = true
    showbranch = auto
    status = auto
	ui = true
[color "interactive"]
    error = red bold
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
	meta = 11
	frag = magenta bold
	old = red bold
	new = green bold
    whitespace = red reverse
	commit = yellow bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    branch = magenta
[core]
	editor = vim
	pager = batcat --tabs 4 --color always --decorations always --style full --wrap auto
#	pager = diff-so-fancy | less --tabs=4 -RFX
    autocrlf = input
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[alias]
    dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFXS; }; f"
    standup = log -15 --all --author='Anshuman Sanghvi' --since=3.days --pretty='%C(cyan)%an%Creset | %C(yellow)%cr%Creset | %d | %C(green)%s%Creset %n'
[lfs]
  fetchrecentremoterefs = true
[interactive]
    diffFilter = delta --color-only
[diff-so-fancy]
	markEmptyLines = false
[init]
	defaultBranch = master

[includeIf "gitdir:/home/anshuman/work/projects/allego/"]
    path = .gitconfig-allego

[includeIf "gitdir:/home/anshuman/work/projects/mint/"]
    path = .gitconfig-mint
